{% extends "index" %}

{% set body_classes = 'inner-page' %}
{% set pageTitle = entry.title %}
{% set pageDescription = entry.title|default('BEST International Pest Control Products') ~ " | " ~ siteName %}

{% block content %}

    {% set products = craft.entries.section('products').all() %}
    {% set c = craft.entries.section('products').count() %}

    {% cache using key 'products-listing' %}

        <section class="section">
            {% include 'products/filter-list' %}
        </section>

    {% endcache %}

{% endblock %}


