{% extends "index" %}
{% set body_classes = 'inner-page' %}
{% set pageTitle = entry.title %}

{% block content %}
    <article class="section">
        <div class="content-column content-column--narrow">
            <h1 class="centered">Page not found!</h1>
            <p>Sorry page not found.</p>
        </div>
    </article>
{% endblock %}